.formulario-web p{
        text-align: center;
}

.formulario-web .caja-formulario {
    width: 100vw;
    background-color: #F9C941;
    margin-bottom: 15px;
}

    .caja-formulario img{
        display: none;
    }    

    .formulario-web form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .formulario-web main label {
        font-size: 35px;
        margin: 10px;

    }

    .formulario-web input.button{
        width: 25vw;
    }

    .formulario-web input, .formulario-web select, .formulario-web textarea#mensaje{
        width: 90vw;
        font-size: 25px;
        margin: 15px;
        border: none;
    }


    @media (min-width: 768px){
        .formulario-web input, .formulario-web select, .formulario-web textarea#mensaje{
            width: 50vw;
        }
    }

    @media (min-width: 1024px){

        .formulario-web input, .formulario-web select, .formulario-web textarea#mensaje {
            width: 40vw;
        }
        .caja-formulario {
            display: flex;
            align-items: center;
        }
        .caja-formulario img{
            display: flex;
            width: 50%;
        }        
        .caja-formulario form{
            width: 50%;
        }
    }