
.puntos-venta main{
    width: 100vw;
    background-color: #F9C941;

    }

.puntos-venta h1.puntoVenta {
    text-align: center;
    background-color: rgb(191, 137, 38);
    font-size: 2em;
    }

.puntos-venta #caja-mapa{
    width: 100vw;
    background-color: #F9C941;
    }


.puntos-venta iframe#main-map{
    width: 100%;
}