
.quienes-somos p{
    text-align: center;
}

.quienes-somos .nosotros-contenedor {
    width: 100vw;
    background-color: rgb(191, 137, 38);;
}
.quienes-somos .nosotros-contenedor p {
    margin-bottom: 15px;
}

.quienes-somos .nosotros-img {
    width: 100vw;
}


.quienes-somos .texto-img{
    width: 100vw;

}
